<?xml version="1.0"?>
    <config>
        <modules>
           <Oschadpay_Oschadpay>
              <version>0.1.0</version>
           </Oschadpay_Oschadpay>
        </modules>
     
        <global>
        <blocks>
            <Oschadpay>
                <class>Oschadpay_Oschadpay_Block</class>
            </Oschadpay>
        </blocks>
            <models>
                <Oschadpay>
                    <class>Oschadpay_Oschadpay_Model</class>
                </Oschadpay>
            </models>
            <resources>
                <Oschadpay_setup>
                    <setup>
                        <module>Oschadpay_Oschadpay</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </Oschadpay_setup>
                <Oschadpay_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </Oschadpay_write>
                <Oschadpay_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </Oschadpay_read>
            </resources>
        </global>
        
        <frontend>
        <secure_url>
            <Oschadpay_redirect>/Oschadpay/redirect/</Oschadpay_redirect>
            <Oschadpay_response>/Oschadpay/response/</Oschadpay_response>
        </secure_url>

        <routers>
            <Oschadpay>
                <use>standard</use>
                <args>
                    <module>Oschadpay_Oschadpay</module>
                    <frontName>Oschadpay</frontName>
                </args>
            </Oschadpay>
        </routers>
        
        </frontend>
        <default>
            <payment>
                <Oschadpay>
                    <active>0</active>
                    <model>Oschadpay/Oschadpay</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via Oschadpay</title>
                    <currency>UAH</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </Oschadpay>
             </payment>
        </default>
    </config>
