<?xml version="1.0"?>
    <config>
        <modules>
           <Oschadpay_OschadpayOnPage>
              <version>0.1.0</version>
           </Oschadpay_OschadpayOnPage>
        </modules>

        <global>
        <blocks>
            <OschadpayOnPage>
                <class>Oschadpay_OschadpayOnPage_Block</class>
            </OschadpayOnPage>
        </blocks>
            <models>
                <OschadpayOnPage>
                    <class>Oschadpay_OschadpayOnPage_Model</class>
                </OschadpayOnPage>
            </models>
            <resources>
                <OschadpayOnPage_setup>
                    <setup>
                        <module>Oschadpay_OschadpayOnPage</module>
                    </setup>
                    <connection>
                        <use>core_setup</use>
                    </connection>
                </OschadpayOnPage_setup>
                <OschadpayOnPage_write>
                    <connection>
                      <use>core_write</use>
                    </connection>
                </OschadpayOnPage_write>
                <OschadpayOnPage_read>
                   <connection>
                    <use>core_read</use>
                  </connection>
                </OschadpayOnPage_read>
            </resources>
        </global>
    <translate>
        <modules>
            <Oschadpay_OschadpayOnPage>
                <files>
                    <default>Oschadpay_Oschadpay.csv</default>
                </files>
            </Oschadpay_OschadpayOnPage>
        </modules>
    </translate>
        <frontend>
            <translate>
                <modules>
                    <Oschadpay_OschadpayOnPage>
                        <files>
                            <default>Oschadpay_Oschadpay.csv</default>
                        </files>
                    </Oschadpay_OschadpayOnPage>
                </modules>
            </translate>
        <secure_url>
            <OschadpayOnPage_redirect>/OschadpayOnPage/redirect/</OschadpayOnPage_redirect>
            <OschadpayOnPage_response>/OschadpayOnPage/response/</OschadpayOnPage_response>
        </secure_url>

        <routers>
            <OschadpayOnPage>
                <use>standard</use>
                <args>
                    <module>Oschadpay_OschadpayOnPage</module>
                    <frontName>OschadpayOnPage</frontName>
                </args>
            </OschadpayOnPage>
        </routers>
        
        </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Oschadpay_OschadpayOnPage>
                    <files>
                        <default>Oschadpay_Oschadpay.csv</default>
                    </files>
                </Oschadpay_OschadpayOnPage>
            </modules>
        </translate>
    </adminhtml>
        <default>
            <payment>
                <OschadpayOnPage>
                    <active>0</active>
                    <model>OschadpayOnPage/OschadpayOnPage</model>
                    <order_status>pending</order_status>
                    <after_pay_status>complete</after_pay_status>
                    <title>Pay via Oschadpay</title>
                    <currency>UAH</currency>
                    <payment_action>generateForm</payment_action>
                    <allowspecific>0</allowspecific>
                </OschadpayOnPage>
             </payment>
        </default>
    </config>
